In [1]:
import sys,os,re,argparse,glob
sys.path.append('./pctk')
from pctk import multicellds
import pandas as pd
from scipy.io import loadmat
from pathlib import Path
import matplotlib.pyplot as plt
from PIL import Image
from matplotlib.animation import FuncAnimation
import matplotlib.pyplot as plt

In [2]:
output_folder = "../../output/new_results/mechanics_pushing_rep100_dt001_nucl"

In [3]:
# Constants
OUTPUT_COLUMNS = ['id', 'x', 'y', 'z', 'radius', 'nuclear_radius', 'ms', 'mbx']
TIME_INTERVAL = 0.1

# Initialize DataFrame
df_cell = pd.DataFrame(columns=['x', 'y', 'z', 'dt', 'radius', 'nuclear_radius'])

# Process each file
files = sorted(Path(output_folder).glob('*output*_cells.mat'))
df_list = []  # To accumulate DataFrames

for i, file in enumerate(files):
    try:
        # Load .mat file and extract necessary data
        mat = loadmat(file)
        mat_data = mat['cells'][[0, 1, 2, 3, 38, 39, 53, 54]]
        
        # Create DataFrame from the .mat data
        df_mat = pd.DataFrame(mat_data.transpose(), columns=OUTPUT_COLUMNS)
        
        # Add time step column
        df_mat['dt'] = round(i * TIME_INTERVAL, 1)
        
        # Append to the list
        df_list.append(df_mat)
    
    except Exception as e:
        print(f"Error loading file {file}: {e}")

# Concatenate all DataFrames at once
df_cell = pd.concat(df_list, ignore_index=True)

# Sort by 'dt' and reset index
df_cell = df_cell.sort_values(by=['dt']).reset_index(drop=True)

# Save to CSV
output_csv = f"{output_folder}/cells_position_time.csv"
df_cell.to_csv(output_csv, index=False)

In [4]:
df_cell

      id          x    y    z    radius  nuclear_radius    ms  mbx    dt
0    0.0 -15.000000  0.0  0.0  5.000004        5.000004  10.0  1.0   0.0
1    1.0  15.000000  0.0  0.0  5.000004        5.000004  10.0 -1.0   0.0
2    0.0 -13.950000  0.0  0.0  5.000004        5.000004  10.0  1.0   0.1
3    1.0  13.950000  0.0  0.0  5.000004        5.000004  10.0 -1.0   0.1
4    0.0 -12.950000  0.0  0.0  5.000004        5.000004  10.0  1.0   0.2
..   ...        ...  ...  ...       ...             ...   ...  ...   ...
197  1.0   3.412359  0.0  0.0  5.000004        5.000004  10.0 -1.0   9.8
198  0.0  -3.412359  0.0  0.0  5.000004        5.000004  10.0  1.0   9.9
199  1.0   3.412359  0.0  0.0  5.000004        5.000004  10.0 -1.0   9.9
200  0.0  -3.412359  0.0  0.0  5.000004        5.000004  10.0  1.0  10.0
201  1.0   3.412359  0.0  0.0  5.000004        5.000004  10.0 -1.0  10.0

[202 rows x 9 columns]